* {
    margin: 0;
    border: 0;
}
@import url('https://fonts.googleapis.com/css?family=Merriweather');
body{
    font-family: 'Merriweather', serif;
    background-color: #e8e8e8;
}
h1{
    font-size: 3em;
    text-align: left;
    margin-bottom: 5px;
    margin-top:5px;
}
#topNav {
    overflow: hidden;
    background-color: #333;
    font-size: 2em;
    text-align: center;
    position: sticky;
    width: 100%;
    top: 0;
    float:center;
}
#topNav a:hover{
    background-color: #f3f3f3;
    color:#333333;

} 

#topNav a {
    float: left;
    color: white;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
}
#content{
    margin: 80px;
    padding: 20px;
    text-align: justify;
}
.card{
    border-radius: 7px;
    text-align: justify;
    background-color: #f3f3f3;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 70%;
    padding: 15px;
    margin-bottom: 15px;
}